    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<div class="jumbotron" style="background: rgba(178,176,176,0.5);">-->
        <h3><b>PANEL DE EDICIÓN DE LA TABLA</b></h3>
        <hr class="my-4">
        <p>{{texto}}</p>
        
        <form class="row" action = "http://localhost:8080/admin5" method = "POST"> 
        <!--<form class="row" action = "http://172.16.0.154:8080/admin5" method = "POST">-->
        <table align="center">
             <tr>
             <td style="width:400px">
                     Nombre de la tabla:</td>
             <td style="width:400px">        
                     <input type = "text" name = "Nombre tabla" placeholder="Nombre tabla" style="width : 250px; text-align:center;" maxlength="20" required/>
                     </td>
             </tr>    
    
             <tr>
             <td style="width:400px">
                     Nombre del campo:</td>
             <td style="width:400px">        
                     <input type = "text" id="Campo" name = "Campo" placeholder="Nombre del campo" style="width : 250px; text-align:center;"/>
             </td>
             </tr>
             <tr>
             <td style="width:400px">
                     Tipo de variable:</td>
             <td style="width:400px">        
                     <select id="Var" name="Var" style="width:150px; height:30px">
                          <option value="varchar(50)" selected>varchar(50)</option>
                          <option value=        "varchar(MAX)">varchar(MAX)</option>
                          <option value=                "text">text</option>
                          <option value=            "geometry">geometry</option>
                          <option value=       "decimal(18,0)">decimal(18,0)</option>
                          <option value=            "datetime">datetime</option>
                          <option value=               "float">float</option>
                          <option value=                "real">real</option>
                      </select>
                      <a   class="btn btn-info btn-lg" style="width:100px;margin: auto;text-align: center;" role="button" onclick="CrearCamp()">+</a> 
                      <a   class="btn btn-danger btn-lg" style="width:100px;margin: auto;text-align: center;" role="button" onclick="BorrarCamp()">Borrar</a>
              </td>
              <tr>
              <td style="width:400px">
                 <input type = "text" id="Salida_sql" name = "Salida_sql" style="width : 100%; text-align:center;" maxlength="600" readonly/>       
              </td>
              <td style="width:400px">
                 <input class="btn btn-info btn-lg" style="width:200px;" type = "submit" value = "Crear" />      
              </td>
              </tr>
        </form>
        
    <script type="text/javascript">
        function CrearCamp() {
          var S4 = document.getElementById("Var");
          var VA = S4.options[S4.selectedIndex].value;                 
          var S5 = document.getElementById("Campo").value;
          document.getElementById("Salida_sql").value=document.getElementById("Salida_sql").value+S5+" "+VA+", ";
          document.getElementById("Campo").value="";
         }
    </script>  

    <script type="text/javascript">
        function BorrarCamp() {
          document.getElementById("Salida_sql").value=" ";
         }
    </script>