{% extends "layout.html" %} 
<!-- block permite abreviar la cantidad de codigo y enlazarlo con el layout-->
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/" aria-disabled="true">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario" aria-disabled="true">Tabla</a>
      </li>      
      <li class="nav-item active">
        <a class="nav-link" href="/Graficas_1">Gráficas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mapa">Mapas</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="busqueda">Consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Corporativo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}
        
{% block content %}
        <h1 class="display-4">PRESENTACIÓN GRAFICA</h1>
        <hr class="hr-titulo">
        <p align="justify" class="lead">Seleccione los parámetros de la consulta.</p>
        <hr class="my-4"> 
        <!--<form class="row" action = "http://localhost:8080/Graficas" method = "POST">-->   
        <form class="row" action = "http://172.16.0.154:8080/Graficas" method = "POST"> 
             <p>  Desde: 
                 <input type="date" name="Fecha_1" value="2021-03-23">
                 <input type="time" name="Horas_1" value="10:00">
                 Hasta:
                 <input type="date" name="Fecha_2" value="2021-03-24">
                 <input type="time" name="Horas_2" value="10:00">                 
             </p>
             <input class="btn btn-info btn-lg" style="width:200px;margin: auto;text-align: center;margin-top: -0.7%;" type = "submit" value = "Nueva Consulta" />
             <a   class="btn btn-danger btn-lg" style="width:100px;margin: auto;text-align: center;margin-top: -0.7%;" href="/" role="button" >Salir</a> 
             <br>  
             <p>   

             Estación:         
             <select id = "Estacion" name="Estacion" style="height:40px;" onchange="SeleccionSensor();">
                  <option value=1 selected>Finca Casateja Facatativá</option>
                  <option value=2>C.I. Tibaitatá</option>
                  <option value=3>Finca Vda Santan Isabel</option>
              </select>
             Sensor:           
              
             <select id="Sensores1" name="Sensores1" style="height:40px; position: relative; top: 0px; left: 0px;">
                 <option value={{Etiquetas1[0]}} selected>{{Etiquetas1[0]}}</option>
                 {%for j in range(1,Cant1)%}
                       <option value={{Etiquetas1[j]}}>{{Etiquetas1[j]}}</option>
                 {%endfor%}
              </select>
             <select id="Sensores2" name="Sensores2" style="height:40px;visibility:hidden; position: relative; top: 0px; left: -322px;">
                 <option value={{Etiquetas2[0]}} selected>{{Etiquetas2[0]}}</option>
                 {%for j in range(1,Cant2)%}
                       <option value={{Etiquetas2[j]}}>{{Etiquetas2[j]}}</option>
                 {%endfor%}
              </select>
             <select id="Sensores3" name="Sensores3" style="height:40px;visibility:hidden; position: relative; top: -40px; left: 343px;">
                 <option value={{Etiquetas3[0]}} selected>{{Etiquetas3[0]}}</option>
                 {%for j in range(1,Cant3)%}
                       <option value={{Etiquetas3[j]}}>{{Etiquetas3[j]}}</option>
                 {%endfor%}
              </select>

            </p> 

        </form>	
        
    <script type="text/javascript">
        function SeleccionSensor() {
          var S1 = document.getElementById("Sensores1");
          var S2 = document.getElementById("Sensores2");
          var S3 = document.getElementById("Sensores3");
          var S4 = document.getElementById("Estacion");
          var VA = S4.options[S4.selectedIndex].value;
          if(VA==1){
              document.getElementById("Sensores1").style.visibility = "visible";
              document.getElementById("Sensores2").style.visibility = "hidden";
              document.getElementById("Sensores3").style.visibility = "hidden";
          }
          if(VA==2){
              document.getElementById("Sensores1").style.visibility = "hidden";
              document.getElementById("Sensores2").style.visibility = "visible";
              document.getElementById("Sensores3").style.visibility = "hidden";
          }
          if(VA==3){
              document.getElementById("Sensores1").style.visibility = "hidden";
              document.getElementById("Sensores2").style.visibility = "hidden";
              document.getElementById("Sensores3").style.visibility = "visible";
          }
          
           }
         </script> 
{% endblock %}

