{% extends "layout.html" %}

{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="usuario">Tabla<span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/Graficas_1">Gráficas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mapa">Mapas</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="busqueda">Consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Corporativo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}

{% block content %}

        <h1 class="display-4">DATOS REGISTRADOS</h1>
        <hr class="hr-titulo">
        <p align="justify" class="lead">Seleccione los parámetros de la consulta.</p>
        <hr class="my-4">    
        <!--<form class="row" action = "http://localhost:8080/informe" method = "POST">-->   
        <form class="row" action = "http://172.16.0.154:8080/informe" method = "POST">     
             <p>  Desde: 
                 <input type="date" name="Fecha_1" value="2021-03-23">
                 <input type="time" name="Horas_1" value="11:00">
                 Hasta:
                 <input type="date" name="Fecha_2" value="2021-03-24">
                 <input type="time" name="Horas_2" value="11:00">                 
             </p>
             <input class="btn btn-info btn-lg" style="width:200px;margin: auto;text-align: center;margin-top: -0.7%;" type = "submit" value = "Nueva Consulta" />
             <a   class="btn btn-danger btn-lg" style="width:100px;margin: auto;text-align: center;margin-top: -0.7%;" href="/" role="button" >Salir</a> 
             <br>   
             <p>
             Estación:           
             <select name="Estacion" style="height:40px;">
                  <option value=1 selected>Finca Casateja Facatativá</option>
                  <option value=2>C.I. Tibaitatá</option>
                  <option value=3>Finca Vda Santan Isabel</option>
              </select>
            </p> 
            <br>    
            <iframe class="m-auto shadow-sm p-3 mb-5 bg-light rounded" width="100%" height="500" src="informe1" name="pag" marginheight="0" marginwidth="0" scrolling="yes"></iframe>


            <br/>
            <br/>
            <p style="text-align:center">
                <p style="text-align:center"><b>DESCARGUE UNA COPIA DE LA CONSULTA.</b></p> <br/>
                <a style="text-align:center" download="Reporte" href="{{url_for('static', filename='/Reporte.xlsx')}}">
                  Descargar
                </a>
            </p>
            
        </form>	
        
{% endblock %}


