{% extends "layout.html" %}

{% block lista %}
      <li class="nav-item active">
        <a class="nav-link" href="/">Principal<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Tabla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Graficas_1">Gráficas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mapa">Mapas</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="busqueda">Consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Corporativo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>      
{% endblock %}

{% block content %}
      <h1 class="display-4">APLICACIÓN DE CONSULTA</h1>
      <hr class="hr-titulo">
      <p class="lead" style="text-align: justify">Haga clic en el botón para realizar la consulta.</p>
      <hr class="my-4">
      
      <h1 class="display-4">
      <a class="btn btn-success btn-lg btn-usuario-corp" href="usuario" role="button"> Inicio </a>      
      </h1>  
{% endblock %}
       


